<div class="container">
  <h2>User List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Grade</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users">
        <tr *ngIf="user.role !== 'ADMIN'">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.grade }}</td>
          <td>{{ user.role }}</td>
          <td>
            <ng-container *ngIf="!user.worken">
              <button class="btn btn-success" (click)="allowToWork(user)">Allow to Work</button>
            </ng-container>
            <ng-container *ngIf="user.worken">
              <button class="btn btn-warning" (click)="blockUser(user)">Block</button>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
