<div class="dashboard-container">
  <div class="sidebar">
    <h3>Projets :</h3>
    <ul>
      <li *ngFor="let project of projects" (click)="selectProject(project)">
        {{ project.nom }}
      </li>
    </ul>
  </div>

  <div class="main-content">
    <div>
      <iframe title="stage24" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=30d01d3c-0545-4d43-abb4-9ad3eaf27552&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <div class="total-budget">
      <h4>Budget Total de tous les projets</h4>
      <p>{{ totalBudget | currency }}</p>
    </div>

    <div *ngIf="selectedProject" class="project-details-container">
      <h2>{{ selectedProject.nom }}</h2>
      <p>{{ selectedProject.description }}</p>

      <div class="charts">
        <div class="chart">
          <h4>Budget Total</h4>
          <p>{{ selectedProject.budget | currency }}</p>
        </div>
        <div class="chart">
          <h4>Budget Consommé</h4>
          <!-- Placeholder for consumed budget or related information -->
        </div>
        <div class="chart">
          <h4>Task Completion</h4>
          <!-- Placeholder for task completion chart or stats -->
        </div>
      </div>

      <div class="project-teams">
        <h4>Équipes</h4>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Nom d'utilisateur</th>
              <th>Email</th>
              <th>Rôle</th>
              <th>Grade</th>
              <th>Worken</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of selectedProjectUsers">
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.grade }}</td>
              <td>{{ user.worken ? 'Yes' : 'No' }}</td>
              <td><button (click)="viewDetails(user)">Détails</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="project-tasks">
        <h4>Tasks</h4>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Titre</th>
              <th>Description</th>
              <th>Statut</th>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Priorité</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of selectedProjectTasks">
              <td>{{ task.id }}</td>
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.status }}</td>
              <td>{{ task.startDate | date }}</td>
              <td>{{ task.endDate | date }}</td>
              <td>{{ task.priority }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
