<div class="task-form">
  <!-- Task Title -->
  <div>
    <label for="task-title">Tâche</label>
    <input id="task-title" [(ngModel)]="newTask.title" placeholder="Tâche" name="title" required>
  </div>
  
  <!-- Task Priority -->
  <div>
    <label for="task-priority">Priorité</label>
    <input id="task-priority" type="number" [(ngModel)]="newTask.priority" placeholder="Priorité" name="priority" required>
  </div>
  
  <!-- Task Description -->
  <div>
    <label for="task-description">Description</label>
    <textarea id="task-description" [(ngModel)]="newTask.description" placeholder="Description" name="description"></textarea>
  </div>
  
  <!-- Task Status -->
  <div>
    <label>Status</label>
    <div *ngFor="let status of taskStatusOptions">
      <input type="radio" [(ngModel)]="newTask.status" [value]="status" name="status"> {{status}}
    </div>
  </div>
  
  <!-- Task Start Date -->
  <div>
    <label for="task-start-date">Date de lancement</label>
    <input 
      id="task-start-date" 
      type="date" 
      [value]="formatDate(newTask.startDate)" 
      (change)="onStartDateChange($event)" 
      name="startDate" 
      required
    >
  </div>
  
  <!-- Task End Date -->
  <div>
    <label for="task-end-date">Date de livraison</label>
    <input 
      id="task-end-date" 
      type="date" 
      [value]="formatDate(newTask.endDate)" 
      (change)="onEndDateChange($event)" 
      name="endDate" 
      required
    >
  </div>

  <!-- Select User -->
  <div>
    <label for="user-select">Sélectionner Utilisateur</label>
    <select id="user-select" [(ngModel)]="selectedPerson" name="user">
      <option *ngFor="let user of filteredUsers" [ngValue]="user">
        {{ user.username }}
      </option>
    </select>
  </div>
  
  <!-- Select Project -->
  <div>
    <label for="project-select">Sélectionner Projet</label>
    <select id="project-select" [(ngModel)]="selectedProjectId" name="project">
      <option *ngFor="let project of projects" [value]="project.id">
        {{ project.nom }}
      </option>
    </select>
  </div>
  
  <!-- Add Task Button -->
  <button (click)="addTask(newTask)">Ajouter Tâche</button>
</div>

<!-- Task List -->
<div class="task-list">
  <h2>Liste des tâches</h2>
  <table>
    <thead>
      <tr>
        <th>Tâche</th>
        <th>Description</th>
        <th>Status</th>
        <th>Priorité</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.priority }}</td>
        
        <td>
          <button (click)="viewTask(task.id)">Voir</button>
          <button (click)="editTask(task.id)">Modifier</button>
          <button (click)="deleteTask(task.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
