<div>
  <h2>Projects List</h2>
  <ul>
    <li *ngFor="let project of projects">
      <h3>{{ project.nom }}</h3>
      <p><strong>Description:</strong> {{ project.description }}</p>
      <p><strong>Start Date:</strong> {{ project.startDate | date }}</p>
      <p><strong>End Date:</strong> {{ project.endDate | date }}</p>
      <p><strong>Status:</strong> {{ project.status }}</p>
      <p><strong>Assigned User:</strong> {{ project.assignedUser?.username || 'No User Assigned' }}</p>
      
      <button [routerLink]="['/project-details', project.id]">View Details</button>
      <button [routerLink]="['/edit-project', project.id]">Modify</button>
    </li>
  </ul>
</div>
